{% extends 'base.html' %}
{% block title %} {% endblock title %}

{% block content %}
<h1>All Transactions</h1>
<table class ="table table-striped">
    <thead>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.sender.username }}</td>
            <td>{{ transaction.recipient.username }}</td>
            <td>{{ currency_symbol }}{{ transaction.amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
